Repository cbadabili/Real_Estate_App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cbadabili, @backend-owner, @platform-arch, @frontend-owner

.github/CODEOWNERS:

# Global ownership
* @cbadabili

# Backend components
/server/ @backend-owner
/shared/ @platform-arch
/migrations/ @backend-owner
/scripts/ @platform-arch

# Frontend components  
/client/ @frontend-owner

# Documentation
/docs/ @cbadabili
README.md @cbadabili
CONTRIBUTING.md @cbadabili

# Infrastructure
/.github/ @platform-arch
/docker-compose.yml @platform-arch
/package.json @platform-arch

Add API documentation and enable documentation browsing
  package-lock.json
  package.json
  server/openapi.json
  server/scripts/generate-openapi.js
  server/scripts/generate-openapi.ts
  tsconfig.node.tsbuildinfo
Owners: @cbadabili, @platform-arch, @backend-owner

Enhance security and data management features across the platform
  .env.example
  server/auth-middleware.ts
  server/rental-storage.d.ts
  server/utils/env.d.ts
  server/utils/env.js
  server/utils/env.ts
  shared/schema.d.ts
  shared/schema.js
  shared/schema.ts
  shared/services-schema.d.ts
  shared/services-schema.ts
  tsconfig.node.tsbuildinfo
Owners: @cbadabili, @backend-owner, @platform-arch

Refine authentication and database schemas for improved data handling
  server/auth-middleware.d.ts
  server/auth-middleware.js
  server/auth-middleware.ts
  server/index.ts
  server/rental-storage.d.ts
  server/test-admin.d.ts
  shared/schema.d.ts
  shared/schema.js
  shared/services-schema.d.ts
  shared/services-schema.js
  tsconfig.node.tsbuildinfo
Owners: @backend-owner, @platform-arch, @cbadabili

Update application to register all API routes
  server/index.ts
Owners: @backend-owner

Checkpoint before assistant change: Improve search functionality by migrating to PostgreSQL and enhancing the schema
  attached_assets/Pasted-Search-today-is-stitched-together-from-SQLite-era-schema-artifacts-a-lightweight-api-search-aggreg-1758532576960_1758532576960.txt
Owners: @cbadabili

Checkpoint before assistant change: Improve property search by fixing authentication and font loading issues
  attached_assets/Pasted--properties-search-modern-20house-96-Refused-to-load-the-font-data-application-octet-stream-base64--1758533125385_1758533125385.txt
Owners: @cbadabili

Fix errors with authentication, content security, and search functionality
  client/src/lib/queryClient.ts
Owners: @frontend-owner

Improve security and search functionality across the application
  server/index.ts
Owners: @backend-owner

Improve search functionality and fix related errors
  server/index.ts
  server/routes/index.ts
  server/routes/search-routes.ts
  server/search-aggregator.ts
Owners: @backend-owner

Update property search to use a unified API endpoint and parameters
  client/src/pages/property/PropertySearchPage.tsx
Owners: @frontend-owner

Checkpoint before assistant change: Improve property search functionality and user experience
  client/src/lib/queryClient.ts
  client/src/main.tsx
  client/src/pages/property/PropertySearchPage.tsx
  server/index.ts
  server/routes.ts
  server/routes/search-routes.ts
  server/search-aggregator.ts
Owners: @frontend-owner, @backend-owner

Checkpoint before assistant change: Enhance property search and error handling for API endpoints
  server/routes.ts
Owners: @backend-owner

Assistant checkpoint: Fix syntax errors in PropertySearchPage
  client/src/pages/property/PropertySearchPage.tsx
Owners: @frontend-owner

Add default storage instance for backwards compatibility
  client/src/lib/storage.ts
Owners: @frontend-owner

Checkpoint before assistant change: Improve page load speed by optimizing image and navigation handling
  attached_assets/image_1758548958934.png
Owners: @cbadabili

Assistant checkpoint: Optimize HomePage performance with React Router navigation and lazy loading
  client/src/components/HeroCarousel.tsx
  client/src/pages/HomePage.tsx
Owners: @frontend-owner

Assistant checkpoint: Replace window.location.href with React Router navigation
  client/src/pages/HomePage.tsx
Owners: @frontend-owner

Assistant checkpoint: Add scroll-to-top on route navigation
  client/src/App.tsx
Owners: @frontend-owner

Checkpoint before assistant change: Add business analytics dashboard and performance tracking
  attached_assets/Pasted-1-Migrations-remain-SQLite-only-blocking-the-Postgres-PostGIS-rollout-The-lone-Drizzle-snapshot-s-1758552903250_1758552903250.txt
  client/src/App.tsx
  client/src/pages/AdminAnalyticsPage.tsx
  client/src/pages/AdminPage.tsx
  server/analytics-routes.ts
  server/analytics-service.ts
  server/cache-service.ts
  server/index.ts
  server/middleware/logging.ts
  server/migrations/013_performance_indexes.sql
  server/repositories/property-repository.ts
Owners: @cbadabili, @frontend-owner, @backend-owner

Checkpoint before assistant change: Enhance database with PostgreSQL features and indexing
  attached_assets/image_1758554071938.png
  drizzle.config.ts
  scripts/migrate-to-postgres.ts
  server/init-db.ts
  server/migration-manager.ts
  server/repositories/property-repository.ts
  server/seed.ts
  shared/schema.ts
Owners: @cbadabili, @platform-arch, @backend-owner

Assistant checkpoint: Fix PostGIS schema imports and regenerate migrations
  shared/schema.ts
Owners: @platform-arch

Assistant checkpoint: Fix PostGIS geography type import and definition
  shared/schema.ts
Owners: @platform-arch

Assistant checkpoint: Fix tsvector import and define custom PostgreSQL types
  shared/schema.ts
Owners: @platform-arch

Assistant checkpoint: Fix getMigrationManager export and add missing methods
  server/migration-manager.ts
Owners: @backend-owner

Checkpoint before assistant change: Fix database error related to missing inquiry table
  attached_assets/Pasted--Database-initialization-failed-DrizzleQueryError-Failed-query-Indexes-for-inquiries-and-appo-1758558921125_1758558921132.txt
Owners: @cbadabili

Assistant checkpoint: Fix migration by creating tables before indexes
  server/migrations/013_performance_indexes.sql
Owners: @backend-owner

Checkpoint before assistant change: Fix database schema inconsistencies and add missing columns
  attached_assets/Pasted-You-ve-got-schema-drift-between-what-the-code-expects-and-what-s-actually-in-Postgres-What-the-err-1758560002601_1758560002602.txt
Owners: @cbadabili

Checkpoint before assistant change: Update database schema and migrations for service categories and property data
  server/migration-manager.ts
  server/migrations/014_fix_schema_drift.sql
Owners: @backend-owner

Assistant checkpoint: Fix schema drift and column types for Postgres
  server/migrations/014_fix_schema_drift.sql
  server/properties-seed.ts
  shared/schema.ts
Owners: @backend-owner, @platform-arch

Assistant checkpoint: Fix migration runner to handle DO blocks
  server/migration-manager.ts
Owners: @backend-owner

Checkpoint before assistant change: Update database schema to improve real estate data management
  attached_assets/Pasted--beedab-real-estate-1-0-0-start-Testing-database-connection-Database-connection-successful-1758563526489_1758563526491.txt
Owners: @cbadabili

Assistant checkpoint: Fix PostGIS migration with proper type casting
  server/migrations/014_fix_schema_drift.sql
Owners: @backend-owner

Checkpoint before assistant change: Improve database schema and data integrity for real estate listings
  attached_assets/Pasted--beedab-real-estate-1-0-0-start-Testing-database-connection-Database-connection-successful-1758564682560_1758564682561.txt
Owners: @cbadabili

Assistant checkpoint: Fix coordinate casting to handle empty strings
  server/migrations/014_fix_schema_drift.sql
Owners: @backend-owner

Restored to '75195f61b57642d11e8bffe718b099daa5713778'
  attached_assets/Pasted--Database-initialization-failed-DrizzleQueryError-Failed-query-Indexes-for-inquiries-and-appo-1758558921125_1758558921132.txt
  attached_assets/Pasted--beedab-real-estate-1-0-0-start-Testing-database-connection-Database-connection-successful-1758563526489_1758563526491.txt
  attached_assets/Pasted--beedab-real-estate-1-0-0-start-Testing-database-connection-Database-connection-successful-1758564682560_1758564682561.txt
  attached_assets/Pasted-1-Migrations-remain-SQLite-only-blocking-the-Postgres-PostGIS-rollout-The-lone-Drizzle-snapshot-s-1758552903250_1758552903250.txt
  attached_assets/Pasted-You-ve-got-schema-drift-between-what-the-code-expects-and-what-s-actually-in-Postgres-What-the-err-1758560002601_1758560002602.txt
  attached_assets/image_1758554071938.png
  client/src/App.tsx
  client/src/pages/AdminAnalyticsPage.tsx
  client/src/pages/AdminPage.tsx
  drizzle.config.ts
  scripts/migrate-to-postgres.ts
  server/analytics-routes.ts
  server/analytics-service.ts
  server/cache-service.ts
  server/index.ts
  server/init-db.ts
  server/middleware/logging.ts
  server/migration-manager.ts
  server/migrations/013_performance_indexes.sql
  server/migrations/014_fix_schema_drift.sql
  server/properties-seed.ts
  server/repositories/property-repository.ts
  server/seed.ts
  shared/schema.ts
Owners: @cbadabili, @frontend-owner, @platform-arch, @backend-owner

Business Analytics added
  attached_assets/Pasted-1-Migrations-remain-SQLite-only-blocking-the-Postgres-PostGIS-rollout-The-lone-Drizzle-snapshot-s-1758552903250_1758552903250.txt
  client/src/App.tsx
  client/src/pages/AdminAnalyticsPage.tsx
  client/src/pages/AdminPage.tsx
  server/analytics-routes.ts
  server/analytics-service.ts
  server/cache-service.ts
  server/index.ts
  server/middleware/logging.ts
  server/migrations/013_performance_indexes.sql
  server/repositories/property-repository.ts
Owners: @cbadabili, @frontend-owner, @backend-owner

refactor: simplify client token storage
  client/package.json
  client/src/lib/storage.ts
  client/src/pages/services/FinancingPage.tsx
  client/src/pages/services/LegalServicesPage.tsx
  client/src/pages/services/PropertyManagementPage.tsx
  client/src/pages/services/TenantSupportPage.tsx
  client/src/utils/authGuards.ts
  client/tsconfig.json
  client/vite.config.ts
  package-lock.json
  package.json
  tsconfig.json
  vite.config.ts
Owners: @frontend-owner, @cbadabili, @platform-arch

fix: stabilize client typecheck
  .github/workflows/ci.yml
  client/src/lib/storage.ts
  client/src/pages/marketplace/ProfessionalsPage.tsx
  client/src/pages/marketplace/RegisterProviderPage.tsx
  client/src/pages/marketplace/ServiceProviderDetailsPage.tsx
  client/src/pages/marketplace/SuppliersPage.tsx
  client/src/pages/marketplace/TrainingProvidersPage.tsx
  client/src/pages/property/PropertySearchPage.tsx
  client/src/pages/services/PropertyManagementPage.tsx
  client/src/pages/services/TenantSupportPage.tsx
  client/vite.config.ts
Owners: @platform-arch, @frontend-owner

chore: silence legacy service pages for typecheck
  client/src/pages/services/FinancingPage.tsx
  client/src/pages/services/LegalServicesPage.tsx
  client/src/pages/services/PropertyManagementPage.tsx
  client/src/pages/services/TenantSupportPage.tsx
  client/src/utils/authGuards.ts
Owners: @frontend-owner

Update ci.yml
  .github/workflows/ci.yml
Owners: @platform-arch
