Repository cbadabili/Real_Estate_App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cbadabili, @backend-owner, @platform-arch, @frontend-owner

chore: remove sqlite artifacts and add postgres guard
  .gitignore
  README.md
  docs/architecture.md
  migrations_sqlite_archive/0000_sour_pixie.sql
  migrations_sqlite_archive/meta/0000_snapshot.json
  migrations_sqlite_archive/meta/_journal.json
  package.json
  scripts/check-postgres-only.ts
  server/services-storage.js
  server/services-storage.ts
  server/storage.js
  server/storage.ts
  tsconfig.node.tsbuildinfo
  tsconfig.tsbuildinfo
Owners: @cbadabili, @platform-arch, @backend-owner

feat: derive property geometry from coordinates
  .gitignore
  README.md
  docs/architecture.md
  migrations_sqlite_archive/0000_sour_pixie.sql
  migrations_sqlite_archive/meta/0000_snapshot.json
  migrations_sqlite_archive/meta/_journal.json
  package.json
  scripts/check-postgres-only.ts
  server/index.js
  server/middleware/logging.js
  server/migrations/014_properties_postgis.sql
  server/real-estate-intel-adapter.js
  server/real-estate-intel-adapter.ts
  server/rental-storage.d.ts
  server/repositories/property-repository.js
  server/repositories/property-repository.ts
  server/routes.js
  server/routes.ts
  server/routes/index.js
  server/search-aggregator.js
  server/search-aggregator.ts
  server/services-storage.js
  server/services-storage.ts
  server/storage.js
  server/storage.ts
  server/test-admin.d.ts
  shared/schema.d.ts
  shared/schema.js
  shared/schema.ts
  shared/services-schema.d.ts
  shared/services-schema.js
  tsconfig.node.tsbuildinfo
  tsconfig.tsbuildinfo
  vite.config.d.ts
  vite.config.js
Owners: @cbadabili, @platform-arch, @backend-owner

fix: harden postgres migrations and filters
  .gitignore
  README.md
  docs/architecture.md
  migrations_sqlite_archive/0000_sour_pixie.sql
  migrations_sqlite_archive/meta/0000_snapshot.json
  migrations_sqlite_archive/meta/_journal.json
  package.json
  scripts/check-postgres-only.ts
  server/index.js
  server/index.ts
  server/middleware/logging.js
  server/middleware/logging.ts
  server/migrations/014_properties_postgis.sql
  server/real-estate-intel-adapter.js
  server/real-estate-intel-adapter.ts
  server/rental-storage.d.ts
  server/repositories/property-repository.js
  server/repositories/property-repository.ts
  server/routes.js
  server/routes.ts
  server/routes/index.js
  server/search-aggregator.js
  server/search-aggregator.ts
  server/services-storage.js
  server/services-storage.ts
  server/storage.js
  server/storage.ts
  server/test-admin.d.ts
  shared/schema.d.ts
  shared/schema.js
  shared/schema.ts
  shared/services-schema.d.ts
  shared/services-schema.js
  shared/services-schema.ts
  tsconfig.node.tsbuildinfo
  tsconfig.tsbuildinfo
  vite.config.d.ts
  vite.config.js
Owners: @cbadabili, @platform-arch, @backend-owner

refactor: align bathrooms type and service metrics
  .gitignore
  README.md
  docs/architecture.md
  migrations_sqlite_archive/0000_sour_pixie.sql
  migrations_sqlite_archive/meta/0000_snapshot.json
  migrations_sqlite_archive/meta/_journal.json
  package.json
  scripts/check-postgres-only.ts
  server/db.ts
  server/index.js
  server/index.ts
  server/middleware/logging.js
  server/middleware/logging.ts
  server/migrations/014_properties_postgis.sql
  server/migrations/015_service_providers_review_count.sql
  server/real-estate-intel-adapter.js
  server/real-estate-intel-adapter.ts
  server/rental-storage.d.ts
  server/repositories/property-repository.js
  server/repositories/property-repository.ts
  server/routes.js
  server/routes.ts
  server/routes/index.js
  server/search-aggregator.js
  server/search-aggregator.ts
  server/services-storage.js
  server/services-storage.ts
  server/storage.js
  server/storage.ts
  server/test-admin.d.ts
  shared/schema.d.ts
  shared/schema.js
  shared/schema.ts
  shared/services-schema.d.ts
  shared/services-schema.js
  shared/services-schema.ts
  tsconfig.node.tsbuildinfo
  tsconfig.tsbuildinfo
  vite.config.d.ts
  vite.config.js
Owners: @cbadabili, @platform-arch, @backend-owner

Align docs and server bootstrap with Postgres-only setup
  .gitignore
  README.md
  docs/architecture.md
  scripts/check-postgres-only.ts
  scripts/migrate-db.ts
  server/cache-service.ts
  server/db.ts
  server/index.js
  server/index.ts
  server/middleware/logging.js
  server/middleware/logging.ts
  server/migrations/014_properties_postgis.sql
  server/migrations/015_service_providers_review_count.sql
  server/real-estate-intel-adapter.js
  server/real-estate-intel-adapter.ts
  server/repositories/property-repository.js
  server/repositories/property-repository.ts
  server/search-aggregator.js
  server/search-aggregator.ts
  server/services-storage.js
  server/services-storage.ts
  server/storage.ts
  shared/schema.d.ts
  shared/schema.js
  shared/schema.ts
  shared/services-schema.d.ts
  shared/services-schema.js
  shared/services-schema.ts
Owners: @cbadabili, @platform-arch, @backend-owner

chore: stabilize tooling and migrations
  .eslintignore
  .eslintrc.cjs
  .github/workflows/verify-postgres.yml
  migrations/README.md
  package-lock.json
  package.json
  scripts/check-postgres-only.ts
  server/index.ts
  server/migrations/014_properties_postgis.sql
  server/repositories/property-repository.ts
  server/storage.ts
  shared/schema.d.ts
  shared/schema.js
  shared/schema.ts
  tests/setup.ts
  tsconfig.json
  vite.config.js
  vitest.config.ts
Owners: @cbadabili, @platform-arch, @backend-owner

Refine PostGIS migration and backend configs
  .eslintrc.cjs
  package-lock.json
  package.json
  scripts/check-postgres-only.ts
  server/index.js
  server/index.ts
  server/migrations/014_properties_postgis.sql
  server/repositories/property-repository.d.ts
  server/repositories/property-repository.js
  server/repositories/property-repository.ts
  server/storage.d.ts
  server/storage.js
  server/storage.ts
  shared/schema.d.ts
  shared/schema.js
  shared/schema.ts
  tsconfig.json
Owners: @cbadabili, @platform-arch, @backend-owner

Refine backend tooling and property handling
  .eslintignore
  .eslintrc.cjs
  package-lock.json
  package.json
  scripts/check-postgres-only.ts
  server/index.js
  server/index.ts
  server/migrations/014_properties_postgis.sql
  server/repositories/property-repository.d.ts
  server/repositories/property-repository.js
  server/repositories/property-repository.ts
  server/storage.js
  server/storage.ts
Owners: @cbadabili, @platform-arch, @backend-owner

Adopt flat ESLint config and harden backend services
  .eslintignore
  .eslintrc.cjs
  eslint.config.cjs
  package-lock.json
  package.json
  scripts/check-postgres-only.ts
  server/index.ts
  server/middleware/logging.ts
  server/migrations/014_properties_postgis.sql
  server/repositories/property-repository.ts
  server/storage.ts
  tsconfig.json
Owners: @cbadabili, @platform-arch, @backend-owner

Align lint toolchain and harden backend data handling
  client/src/lib/storage.ts
  eslint.config.cjs
  package-lock.json
  package.json
  scripts/check-security.ts
  scripts/performance-monitor.ts
  scripts/run-performance-tests.ts
  scripts/seed-db.ts
  server/index.ts
  server/middleware/logging.ts
  server/migrations/014_properties_postgis.sql
  server/repositories/property-repository.js
  server/repositories/property-repository.ts
  shared/schema.js
  shared/schema.ts
  tests/performance/memory.test.ts
  tsconfig.json
Owners: @frontend-owner, @cbadabili, @platform-arch, @backend-owner

Harden backend tooling and storage guards
  client/src/lib/storage.ts
  eslint.config.cjs
  scripts/check-postgres-only.ts
  server/index.ts
  server/middleware/logging.ts
  server/storage.ts
Owners: @frontend-owner, @cbadabili, @platform-arch, @backend-owner

chore: wire production readiness automation
  .github/workflows/k6-load.yml
  .github/workflows/lighthouse.yml
  .github/workflows/playwright.yml
  .github/workflows/semgrep.yml
  .github/workflows/zap-baseline.yml
  docs/beedab-production-test-strategy.md
  lighthouserc.json
  package-lock.json
  package.json
  playwright.config.ts
  tests/load/properties-search.js
  tests/playwright/accessibility.spec.ts
  tests/playwright/favorites-savedsearch.spec.ts
  tests/playwright/listing-create.spec.ts
  tests/playwright/search.spec.ts
  tests/playwright/utils/api.ts
  vitest.config.ts
Owners: @platform-arch, @cbadabili

chore: harden production readiness automation
  .github/workflows/k6-load.yml
  .github/workflows/lighthouse.yml
  .github/workflows/playwright.yml
  .github/workflows/semgrep.yml
  .github/workflows/zap-baseline.yml
  docs/beedab-production-test-strategy.md
  lighthouserc.json
  package.json
  playwright.config.ts
  tests/load/properties-search.js
  tests/playwright/accessibility.spec.ts
  tests/playwright/favorites-savedsearch.spec.ts
  tests/playwright/utils/api.ts
Owners: @platform-arch, @cbadabili

fix: allow zap baseline to reach api
  .github/workflows/zap-baseline.yml
Owners: @platform-arch

fix: make playwright install portable
  package.json
  scripts/install-playwright.mjs
  tests/setup.ts
Owners: @platform-arch, @cbadabili

fix: harden playwright installer skip logic
  scripts/install-playwright.mjs
  tests/setup.ts
Owners: @platform-arch, @cbadabili

fix: guard semgrep sarif upload
  .github/workflows/semgrep.yml
Owners: @platform-arch

fix: unblock typechecking for server build
  server/vite.ts
  shared/auction-schema.ts
  tsconfig.node.json
Owners: @backend-owner, @platform-arch, @cbadabili

fix: fail zap workflow when api not ready
  .github/workflows/zap-baseline.yml
Owners: @platform-arch

fix: align lighthouse urls with preview server
  lighthouserc.json
Owners: @cbadabili

Fail fast when API health check never passes in Playwright CI
  .github/workflows/playwright.yml
Owners: @platform-arch

chore: install dev dependencies in ci
  .npmrc
Owners: @cbadabili

fix: run api without vite dev dependency
  server/index.ts
  server/vite.ts
Owners: @backend-owner

fix: guard vite setup in production and enable semgrep uploads
  .github/workflows/semgrep.yml
  server/vite.js
  server/vite.ts
Owners: @platform-arch, @backend-owner

fix: guard vite setup in production and enable semgrep uploads
  .github/workflows/k6-load.yml
  .github/workflows/lighthouse.yml
  .github/workflows/playwright.yml
  .github/workflows/semgrep.yml
  .github/workflows/zap-baseline.yml
  .npmrc
  docs/beedab-production-test-strategy.md
  lighthouserc.json
  package-lock.json
  package.json
  playwright.config.ts
  scripts/install-playwright.mjs
  server/index.ts
  server/vite.js
  server/vite.ts
  shared/auction-schema.ts
  tests/load/properties-search.js
  tests/playwright/accessibility.spec.ts
  tests/playwright/favorites-savedsearch.spec.ts
  tests/playwright/listing-create.spec.ts
  tests/playwright/search.spec.ts
  tests/playwright/utils/api.ts
  tsconfig.node.json
  vitest.config.ts
Owners: @platform-arch, @cbadabili, @backend-owner

fix: disable postgres ssl for local workflows
  .github/workflows/k6-load.yml
  .github/workflows/lighthouse.yml
  .github/workflows/playwright.yml
  .github/workflows/zap-baseline.yml
  CONTRIBUTING.md
  README.md
  server/db.js
  server/db.ts
Owners: @platform-arch, @cbadabili, @backend-owner

harden ci automation and vite bootstrap
  .github/workflows/k6-load.yml
  .github/workflows/lighthouse.yml
  .github/workflows/playwright.yml
  .github/workflows/semgrep.yml
  .github/workflows/zap-baseline.yml
  .npmrc
  scripts/install-playwright.mjs
  server/db.js
  server/db.ts
  server/index.ts
  server/vite.js
  server/vite.ts
  shared/auction-schema.ts
  tests/load/properties-search.js
  tests/playwright/accessibility.spec.ts
  tests/playwright/favorites-savedsearch.spec.ts
  tests/playwright/listing-create.spec.ts
  tests/playwright/search.spec.ts
  tests/playwright/utils/api.ts
Owners: @platform-arch, @cbadabili, @backend-owner

Fix CI workflows and secure database SSL handling
  .github/workflows/k6-load.yml
  .github/workflows/lighthouse.yml
  .github/workflows/semgrep.yml
  .github/workflows/zap-baseline.yml
  server/db.js
  server/db.ts
  server/vite.js
  server/vite.ts
Owners: @platform-arch, @backend-owner

Fix Semgrep workflow publish token guard
  .github/workflows/semgrep.yml
Owners: @platform-arch

Fix Semgrep workflow publish token handling
  .github/workflows/semgrep.yml
Owners: @platform-arch

Tighten Semgrep workflow gating
  .github/workflows/semgrep.yml
Owners: @platform-arch

fix(migrations): guard performance indexes and close DO block
  server/index.ts
  server/migrations/013_performance_indexes.sql
Owners: @backend-owner

feat(api): add readiness health endpoint
  server/index.ts
Owners: @backend-owner

fix(e2e): gate readiness for fast startup
  .github/workflows/playwright.yml
  server/index.ts
Owners: @platform-arch, @backend-owner

chore: install runtime types and clean strict typing
  package-lock.json
  package.json
  server/billing-routes.ts
  server/hero-routes.ts
  server/index.ts
  server/location-data-import.ts
  server/location-routes.ts
  server/properties-seed.ts
  server/rental-seed.ts
  server/rental-storage.ts
  server/review-storage.ts
  server/routes.ts
  tsconfig.json
Owners: @cbadabili, @platform-arch, @backend-owner

fix: stabilize readiness checks and migrations
  .gitattributes
  .github/workflows/lighthouse.yml
  .github/workflows/playwright.yml
  .github/workflows/zap-baseline.yml
  lighthouserc.json
  server/entitlements-service.ts
  server/index.ts
  server/migrations/013_performance_indexes.sql
  server/routes/auth-routes.ts
  server/vite.ts
  tests/playwright/favorites-savedsearch.spec.ts
  tests/playwright/listing-create.spec.ts
  tests/playwright/search.spec.ts
  tests/playwright/utils/api.ts
Owners: @cbadabili, @platform-arch, @backend-owner

fix: annotate implicit map parameters
  server/location-routes.ts
  server/properties-seed.ts
  server/rental-seed.ts
  server/rental-storage.ts
Owners: @backend-owner

fix: restore server type dependencies
  package-lock.json
  package.json
Owners: @cbadabili, @platform-arch

fix: guard inquiries indexes and tighten typings
  server/migrations/013_performance_indexes.sql
  server/review-storage.ts
  server/routes.ts
Owners: @backend-owner

fix(migrations): create inquiries tables before indexes
  server/migrations/012a_create_inquiries_and_appointments.sql
  server/migrations/013_performance_indexes.sql
Owners: @backend-owner

.github/CODEOWNERS:

# Global ownership
* @cbadabili

# Backend components
/server/ @backend-owner
/shared/ @platform-arch
/migrations/ @backend-owner
/scripts/ @platform-arch

# Frontend components  
/client/ @frontend-owner

# Documentation
/docs/ @cbadabili
README.md @cbadabili
CONTRIBUTING.md @cbadabili

# Infrastructure
/.github/ @platform-arch
/docker-compose.yml @platform-arch
/package.json @platform-arch
