Repository cbadabili/Real_Estate_App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cbadabili, @backend-owner, @platform-arch, @frontend-owner

.github/CODEOWNERS:

# Global ownership
* @cbadabili

# Backend components
/server/ @backend-owner
/shared/ @platform-arch
/migrations/ @backend-owner
/scripts/ @platform-arch

# Frontend components  
/client/ @frontend-owner

# Documentation
/docs/ @cbadabili
README.md @cbadabili
CONTRIBUTING.md @cbadabili

# Infrastructure
/.github/ @platform-arch
/docker-compose.yml @platform-arch
/package.json @platform-arch

Assistant checkpoint: Enable mortgage calculator & viewing buttons
  client/src/pages/PropertyDetailsPage.tsx
Owners: @frontend-owner

Improve redirection after plan activation
  attached_assets/DSC00299_1763582406942.JPG
Owners: @cbadabili

Update featured properties with real photos from the user
  attached_assets/DSC00288_1763582537060.JPG
  attached_assets/DSC00289_1763582537060.JPG
  attached_assets/DSC00299_1763582537061.JPG
  attached_assets/DSC00303_1763582537061.JPG
  client/public/properties/house-1.jpg
  client/public/properties/house-2.jpg
  client/public/properties/house-3.jpg
  client/public/properties/house-4.jpg
  server/properties-seed.ts
Owners: @cbadabili, @frontend-owner, @backend-owner

Assistant checkpoint: Make property cards consistent in size
  client/src/components/properties/PropertyCard.tsx
Owners: @frontend-owner

Remove Mapbox remnants
  README.md
  client/src/components/InteractiveMap.tsx
  client/src/components/properties/PropertyLocationStep.tsx
  client/src/components/properties/PropertyMap.tsx
  docs/architecture.md
  docs/beedab-production-test-strategy.md
  docs/runbooks/incident-response.md
  package-lock.json
  package.json
  server/geocode.ts
  server/utils/env.ts
Owners: @cbadabili, @frontend-owner, @platform-arch, @backend-owner
