Repository cbadabili/Real_Estate_App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cbadabili, @backend-owner, @platform-arch, @frontend-owner

.github/CODEOWNERS:

# Global ownership
* @cbadabili

# Backend components
/server/ @backend-owner
/shared/ @platform-arch
/migrations/ @backend-owner
/scripts/ @platform-arch

# Frontend components  
/client/ @frontend-owner

# Documentation
/docs/ @cbadabili
README.md @cbadabili
CONTRIBUTING.md @cbadabili

# Infrastructure
/.github/ @platform-arch
/docker-compose.yml @platform-arch
/package.json @platform-arch

fix: type service category mapping
  .github/workflows/k6-load.yml
  .github/workflows/lighthouse.yml
  .github/workflows/playwright.yml
  .github/workflows/zap-baseline.yml
  docs/audit/2025-02-14-architecture-security-audit.md
  eslint.config.cjs
  package-lock.json
  package.json
  playwright.config.ts
  scripts/migrate-db.ts
  scripts/wait-for-http.sh
  server/db.ts
  server/index.ts
  server/init-db.ts
  server/migrations/014_properties_postgis.sql
  server/migrations/015_users_timestamp.sql
  server/migrations/016_properties_location_metadata.sql
  server/routes.ts
  server/routes/auth-routes.ts
  server/routes/property-routes.ts
  server/routes/user-routes.ts
  server/services-storage.ts
  server/utils/env.ts
  server/utils/logger.ts
  server/validation/property-filters.ts
  shared/schema.ts
  tests/playwright/favorites-savedsearch.spec.ts
  tests/playwright/listing-create.spec.ts
  tests/playwright/search.spec.ts
  tests/playwright/utils/api.ts
Owners: @platform-arch, @cbadabili, @backend-owner

Restore inquiry and appointment workflows
  .github/workflows/k6-load.yml
  scripts/migrate-db.ts
  server/routes/index.ts
  server/routes/inquiry-routes.ts
  server/routes/property-routes.ts
  server/utils/env.ts
Owners: @platform-arch, @backend-owner

Fix inquiry logging context and property validation
  server/routes/inquiry-routes.ts
  server/routes/property-routes.ts
  server/services-storage.ts
Owners: @backend-owner

Fix inquiry logging context and property validation
  .github/workflows/k6-load.yml
  .github/workflows/lighthouse.yml
  .github/workflows/playwright.yml
  .github/workflows/zap-baseline.yml
  docs/audit/2025-02-14-architecture-security-audit.md
  eslint.config.cjs
  package-lock.json
  package.json
  playwright.config.ts
  scripts/migrate-db.ts
  scripts/wait-for-http.sh
  server/db.ts
  server/index.ts
  server/init-db.ts
  server/migrations/014_properties_postgis.sql
  server/migrations/015_users_timestamp.sql
  server/migrations/016_properties_location_metadata.sql
  server/routes.ts
  server/routes/auth-routes.ts
  server/routes/index.ts
  server/routes/inquiry-routes.ts
  server/routes/property-routes.ts
  server/routes/user-routes.ts
  server/services-storage.ts
  server/utils/env.ts
  server/utils/logger.ts
  server/validation/property-filters.ts
  shared/schema.ts
  tests/playwright/favorites-savedsearch.spec.ts
  tests/playwright/listing-create.spec.ts
  tests/playwright/search.spec.ts
  tests/playwright/utils/api.ts
Owners: @platform-arch, @cbadabili, @backend-owner

Address review feedback on inquiries and property filters
  server/routes/inquiry-routes.ts
  server/routes/property-routes.ts
  server/services-storage.ts
  server/validation/property-filters.ts
Owners: @backend-owner

Allow numeric property payloads
  shared/schema.ts
  tests/playwright/favorites-savedsearch.spec.ts
  tests/playwright/listing-create.spec.ts
  tests/playwright/search.spec.ts
  tests/playwright/utils/api.ts
Owners: @platform-arch, @cbadabili

Simplify property filter sanitization
  server/validation/property-filters.ts
Owners: @backend-owner

Fix k6 action tag and tighten service category typing
  .github/workflows/k6-load.yml
  server/services-storage.ts
Owners: @platform-arch, @backend-owner

fix: accept numeric property payloads
  server/openapi.json
  server/scripts/generate-openapi.ts
  shared/real-estate-intel-types.ts
  shared/schema.ts
Owners: @backend-owner, @platform-arch

Fix service category filtering type annotation
  server/services-storage.ts
Owners: @backend-owner

Return server errors when property creation fails
  server/routes/property-routes.ts
Owners: @backend-owner

Fix property price validation helper
  .github/workflows/lighthouse.yml
  .github/workflows/playwright.yml
  .github/workflows/zap-baseline.yml
  docs/audit/2025-02-14-architecture-security-audit.md
  eslint.config.cjs
  package-lock.json
  package.json
  playwright.config.ts
  scripts/migrate-db.ts
  scripts/wait-for-http.sh
  server/db.ts
  server/index.ts
  server/init-db.ts
  server/migrations/014_properties_postgis.sql
  server/migrations/015_users_timestamp.sql
  server/migrations/016_properties_location_metadata.sql
  server/openapi.json
  server/routes.ts
  server/routes/auth-routes.ts
  server/routes/index.ts
  server/routes/inquiry-routes.ts
  server/routes/property-routes.ts
  server/routes/user-routes.ts
  server/scripts/generate-openapi.ts
  server/services-storage.ts
  server/utils/env.ts
  server/utils/logger.ts
  server/validation/property-filters.ts
  shared/real-estate-intel-types.ts
  shared/schema.ts
  tests/playwright/utils/api.ts
Owners: @platform-arch, @cbadabili, @backend-owner

fix: harden filter parsing and id validation
  server/routes/user-routes.ts
  server/validation/property-filters.ts
  tests/playwright/utils/api.ts
Owners: @backend-owner, @cbadabili

chore: tighten service category normalization
  server/services-storage.ts
Owners: @backend-owner

Adjust development server ports and proxy configurations
  client/vite.config.ts
  package.json
  server/utils/env.ts
Owners: @frontend-owner, @platform-arch, @backend-owner

Update development server to use Vite configuration
  package.json
Owners: @platform-arch

Update property validation to ensure numeric fields are finite numbers
  server/routes/property-routes.ts
  shared/schema.ts
Owners: @backend-owner, @platform-arch

Update project documentation and adjust start script
  package.json
  replit.md
Owners: @platform-arch, @cbadabili

Allow all hosts to connect to the development server
  client/vite.config.ts
Owners: @frontend-owner

Fix rental listing table schema and backend port configuration
  attached_assets/Pasted-npm-warn-config-production-Use-omit-dev-instead-VITE-v5-4-19-ready-in-197-ms-Loca-1760518816083_1760518816087.txt
  replit.md
  server/index.ts
  server/migrations/002_rental_tables.sql
Owners: @cbadabili, @backend-owner

Improve seeding process and fix connection issues
  replit.md
  server/seed-manager.ts
Owners: @cbadabili, @backend-owner

Update Vite configuration for improved Hot Module Replacement
  client/vite.config.ts
  replit.md
Owners: @frontend-owner, @cbadabili

Improve Vite configuration to prevent blocked requests in Replit
  attached_assets/image_1760520682507.png
  client/vite.config.ts
  replit.md
Owners: @cbadabili, @frontend-owner

Assistant checkpoint: Updated pricing page with new plan structure
  client/src/pages/PricingPage.tsx
  server/billing-seed.ts
Owners: @frontend-owner, @backend-owner

Checkpoint before assistant change: Remove stray dollar signs from the application interface
  attached_assets/image_1760523893155.png
Owners: @cbadabili

Checkpoint before assistant change: Align buttons to improve the user interface layout
  attached_assets/image_1760526026906.png
Owners: @cbadabili

Assistant checkpoint: Replace $ with P and align service provider buttons
  client/src/pages/ServicesPage.tsx
Owners: @frontend-owner

Checkpoint before assistant change: Update wording and remove currency symbols from user interface elements
  attached_assets/image_1760529675414.png
Owners: @cbadabili

Assistant checkpoint: Fix currency symbols and update service provider CTAs
  client/src/pages/ServicesPage.tsx
Owners: @frontend-owner

Update service pricing and align display elements on the services page
  attached_assets/image_1760530395445.png
  client/src/pages/ServicesPage.tsx
Owners: @cbadabili, @frontend-owner

Align service information to the bottom of cards
  attached_assets/image_1760531190119.png
  client/src/pages/ServicesPage.tsx
Owners: @cbadabili, @frontend-owner

Improve button text and verification badge styling
  client/src/pages/ServicesPage.tsx
Owners: @frontend-owner

Improve spacing consistency between service details and buttons
  attached_assets/image_1760531546721.png
  client/src/pages/ServicesPage.tsx
Owners: @cbadabili, @frontend-owner

Align service details and buttons vertically for a consistent appearance
  client/src/pages/ServicesPage.tsx
Owners: @frontend-owner

Assistant checkpoint: Add /register-provider route to App.tsx
  client/src/App.tsx
Owners: @frontend-owner

Assistant checkpoint: Add individual contractor registration option
  client/src/components/ServiceProviderRegistration.tsx
  client/src/pages/marketplace/RegisterProviderPage.tsx
Owners: @frontend-owner

Add authentication check to prevent unauthorized provider registration
  attached_assets/Pasted-register-provider-1-Refused-to-load-the-script-https-replit-com-public-js-replit-dev-banner-js-b-1760533172295_1760533172296.txt
  attached_assets/image_1760533133754.png
  client/src/pages/marketplace/RegisterProviderPage.tsx
Owners: @cbadabili, @frontend-owner

Fix authentication logic and improve page loading
  client/src/hooks/useAuth.ts
  client/src/pages/marketplace/RegisterProviderPage.tsx
Owners: @frontend-owner

Checkpoint before assistant change: Add support for logging in with Google accounts
  attached_assets/image_1760534369464.png
Owners: @cbadabili

chore: modernize vercel deployment
  api/index.ts
  server/app.ts
  server/index.ts
  server/routes/property-routes.ts
  tsconfig.json
  vercel.json
Owners: @cbadabili, @backend-owner
