Repository cbadabili/Real_Estate_App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cbadabili, @backend-owner, @platform-arch, @frontend-owner

.github/CODEOWNERS:

# Global ownership
* @cbadabili

# Backend components
/server/ @backend-owner
/shared/ @platform-arch
/migrations/ @backend-owner
/scripts/ @platform-arch

# Frontend components  
/client/ @frontend-owner

# Documentation
/docs/ @cbadabili
README.md @cbadabili
CONTRIBUTING.md @cbadabili

# Infrastructure
/.github/ @platform-arch
/docker-compose.yml @platform-arch
/package.json @platform-arch

fix: align schema timestamps with postgres
  server/routes.ts
  shared/schema.ts
Owners: @backend-owner, @platform-arch

fix: guard city coordinate fallback
  server/routes.ts
Owners: @backend-owner

fix: support postgis migrations in ci
  .github/workflows/k6-load.yml
  .github/workflows/lighthouse.yml
  .github/workflows/playwright.yml
  .github/workflows/zap-baseline.yml
  server/db.ts
  server/migration-manager.ts
Owners: @platform-arch, @backend-owner

fix: guard performance index migration
  server/migrations/013_performance_indexes.sql
Owners: @backend-owner

fix(migrations): ensure inquiry indexes follow table creation
  server/migrations/012a_create_inquiries_and_appointments.sql
  server/migrations/013_performance_indexes.sql
Owners: @backend-owner

fix(migrations): cast existing jsonb columns during conversion
  server/migrations/014_properties_postgis.sql
Owners: @backend-owner

chore(types): keep runtime typings for production builds
  package-lock.json
  package.json
Owners: @cbadabili, @platform-arch

fix(migrations): normalize epoch timestamps before casting
  server/migrations/014_properties_postgis.sql
Owners: @backend-owner

fix(migrations): safely coerce property timestamps
  server/migrations/014_properties_postgis.sql
Owners: @backend-owner

fix: drop legacy timestamp defaults before conversion
  package-lock.json
  package.json
  server/migrations/014_properties_postgis.sql
Owners: @cbadabili, @platform-arch, @backend-owner

fix: harden health checks and timestamp migration
  .github/workflows/lighthouse.yml
  scripts/wait-for-http.sh
  server/index.ts
  server/migrations/014_properties_postgis.sql
Owners: @platform-arch, @backend-owner

fix(migrations): drop legacy defaults before timestamptz coercion
  server/migrations/014_properties_postgis.sql
Owners: @backend-owner

chore: ignore ts scripts in eslint
  .github/workflows/lighthouse.yml
  .github/workflows/playwright.yml
  .github/workflows/zap-baseline.yml
  docs/audit/2025-02-14-architecture-security-audit.md
  eslint.config.cjs
  package-lock.json
  package.json
  playwright.config.ts
  scripts/wait-for-http.sh
  server/index.ts
  server/migrations/014_properties_postgis.sql
  server/routes/auth-routes.ts
  server/routes/property-routes.ts
  server/utils/env.ts
  server/utils/logger.ts
  server/validation/property-filters.ts
Owners: @platform-arch, @cbadabili, @backend-owner

fix: sanitize property logs and harden property updates
  .github/workflows/lighthouse.yml
  .github/workflows/zap-baseline.yml
  eslint.config.cjs
  server/index.ts
  server/routes/property-routes.ts
  server/utils/env.ts
  server/validation/property-filters.ts
Owners: @platform-arch, @cbadabili, @backend-owner

chore: configure secrets for ci server boots
  .github/workflows/lighthouse.yml
  .github/workflows/playwright.yml
  .github/workflows/zap-baseline.yml
Owners: @platform-arch

fix: align port defaults and enforce seed failures
  .github/workflows/playwright.yml
  server/utils/env.ts
Owners: @platform-arch, @backend-owner

fix: run migration manager from migrate script
  scripts/migrate-db.ts
Owners: @platform-arch

chore: clean env handling and filter parsing
  server/utils/env.ts
  server/validation/property-filters.ts
Owners: @backend-owner

fix: stabilize property filters and migration helper
  scripts/migrate-db.ts
  server/validation/property-filters.ts
Owners: @platform-arch, @backend-owner

chore: clarify migration connection failures
  scripts/migrate-db.ts
Owners: @platform-arch

fix: surface root causes when db connection fails
  server/db.ts
Owners: @backend-owner

chore: improve migration connection diagnostics
  scripts/migrate-db.ts
Owners: @platform-arch

chore: expand migration connection diagnostics
  scripts/migrate-db.ts
Owners: @platform-arch

chore: improve migration dependency diagnostics
  scripts/migrate-db.ts
Owners: @platform-arch

refactor: improve db health checks and filter defaults
  server/db.ts
  server/validation/property-filters.ts
Owners: @backend-owner

fix: harden workflow startup and normalize user timestamps
  .github/workflows/lighthouse.yml
  .github/workflows/zap-baseline.yml
  server/init-db.ts
  server/migrations/015_users_timestamp.sql
  shared/schema.ts
Owners: @platform-arch, @backend-owner

fix: drop user timestamp defaults before cast
  server/migrations/015_users_timestamp.sql
Owners: @backend-owner

fix: ensure migrations install tooling and drop defaults
  .github/workflows/lighthouse.yml
  .github/workflows/playwright.yml
  .github/workflows/zap-baseline.yml
  server/init-db.ts
  server/migrations/015_users_timestamp.sql
Owners: @platform-arch, @backend-owner

fix: align playwright payload and zap level
  .github/workflows/zap-baseline.yml
  tests/playwright/utils/api.ts
Owners: @platform-arch, @cbadabili

test: retry user registration in e2e helper
  tests/playwright/utils/api.ts
Owners: @cbadabili

test: sanitize property fixtures for e2e
  .github/workflows/lighthouse.yml
  .github/workflows/playwright.yml
  .github/workflows/zap-baseline.yml
  docs/audit/2025-02-14-architecture-security-audit.md
  eslint.config.cjs
  package-lock.json
  package.json
  playwright.config.ts
  scripts/migrate-db.ts
  scripts/wait-for-http.sh
  server/db.ts
  server/index.ts
  server/init-db.ts
  server/migrations/014_properties_postgis.sql
  server/migrations/015_users_timestamp.sql
  server/routes/auth-routes.ts
  server/routes/property-routes.ts
  server/utils/env.ts
  server/utils/logger.ts
  server/validation/property-filters.ts
  shared/schema.ts
  tests/playwright/utils/api.ts
Owners: @platform-arch, @cbadabili, @backend-owner

chore: update k6 setup action version
  .github/workflows/k6-load.yml
Owners: @platform-arch

fix: send numeric property fields in playwright helper
  tests/playwright/utils/api.ts
Owners: @cbadabili

test: stabilize firefox coverage and rate limits
  playwright.config.ts
  server/index.ts
Owners: @cbadabili, @backend-owner

fix: honor database health status at startup
  server/index.ts
Owners: @backend-owner

fix: coerce property numerics and align schema
  server/init-db.ts
  server/migrations/016_properties_location_metadata.sql
  server/routes/property-routes.ts
  tests/playwright/utils/api.ts
Owners: @backend-owner, @cbadabili

refactor: delegate legacy routes wrapper
  server/routes.ts
Owners: @backend-owner

fix: validate user route params
  server/routes/user-routes.ts
Owners: @backend-owner

fix: harden property and user routing guards
  server/routes/property-routes.ts
  server/routes/user-routes.ts
  server/services-storage.ts
Owners: @backend-owner

fix: remove unused helper after numeric parsing refactor
  .github/workflows/k6-load.yml
  .github/workflows/lighthouse.yml
  .github/workflows/playwright.yml
  .github/workflows/zap-baseline.yml
  docs/audit/2025-02-14-architecture-security-audit.md
  eslint.config.cjs
  package-lock.json
  package.json
  playwright.config.ts
  scripts/migrate-db.ts
  scripts/wait-for-http.sh
  server/db.ts
  server/index.ts
  server/init-db.ts
  server/migrations/014_properties_postgis.sql
  server/migrations/015_users_timestamp.sql
  server/migrations/016_properties_location_metadata.sql
  server/routes.ts
  server/routes/auth-routes.ts
  server/routes/property-routes.ts
  server/routes/user-routes.ts
  server/services-storage.ts
  server/utils/env.ts
  server/utils/logger.ts
  server/validation/property-filters.ts
  shared/schema.ts
  tests/playwright/utils/api.ts
Owners: @platform-arch, @cbadabili, @backend-owner
