Repository cbadabili/Real_Estate_App, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cbadabili, @backend-owner, @platform-arch, @frontend-owner

.github/CODEOWNERS:

# Global ownership
* @cbadabili

# Backend components
/server/ @backend-owner
/shared/ @platform-arch
/migrations/ @backend-owner
/scripts/ @platform-arch

# Frontend components  
/client/ @frontend-owner

# Documentation
/docs/ @cbadabili
README.md @cbadabili
CONTRIBUTING.md @cbadabili

# Infrastructure
/.github/ @platform-arch
/docker-compose.yml @platform-arch
/package.json @platform-arch

Assistant checkpoint: Implement Google OAuth authentication
  client/src/components/auth/RegistrationModal.tsx
  client/src/pages/LoginPage.tsx
  package-lock.json
  package.json
  server/routes/google-auth-routes.ts
  server/routes/index.ts
  server/utils/env.ts
Owners: @frontend-owner, @cbadabili, @platform-arch, @backend-owner

Fix error that prevents plans from appearing on the pricing page
  client/src/pages/LoginPage.tsx
  server/routes/documents-routes.ts
Owners: @frontend-owner, @backend-owner

Fix errors related to user login and resource loading
  attached_assets/Pasted-bc950d3b-1020-47a6-8025-fa9a7db7c4fb-00-nnq5i1x2e95y-riker-replit-dev-48-Refused-to-load-the-font--1760982209749_1760982209750.txt
Owners: @cbadabili

Securely hash default user passwords for testing environments
  attached_assets/Pasted-LoginPage-Attempting-login-AuthContext-tsx-140-Attempting-login-for-admin-beedab-bw-AuthContext-1760982353094_1760982353095.txt
  server/seed-manager.ts
Owners: @cbadabili, @backend-owner

Improve login success feedback and identify buyer dashboard data issues
  attached_assets/Pasted-LoginPage-Attempting-login-AuthContext-tsx-140-Attempting-login-for-admin-beedab-bw-AuthContext-1760982561502_1760982561502.txt
Owners: @cbadabili

Ensure data fetched for admin pages is always an array
  attached_assets/Pasted-Something-went-wrong-We-encountered-an-unexpected-error-Please-try-refreshing-the-page-or-contact--1760982716153_1760982716153.txt
  attached_assets/Pasted-login-48-Refused-to-load-the-font-data-application-octet-stream-base64-d09GMgABAAAAAPUcABQAAAACTcwA-1760982689879_1760982689880.txt
  client/src/pages/AdminPage.tsx
Owners: @cbadabili, @frontend-owner

Update billing statistics query to reference correct tables and columns
  attached_assets/Pasted-Download-the-React-DevTools-for-a-better-development-experience-https-reactjs-org-link-react-devt-1760982910229_1760982910229.txt
  server/billing-routes.ts
Owners: @cbadabili, @backend-owner

Prevent errors when displaying billing statistics on the admin page
  attached_assets/Pasted-Something-went-wrong-We-encountered-an-unexpected-error-Please-try-refreshing-the-page-or-contact--1760983077407_1760983077408.txt
  client/src/pages/AdminPage.tsx
Owners: @cbadabili, @frontend-owner

Fix error in admin dashboard when displaying billing statistics
  client/src/pages/AdminPage.tsx
Owners: @frontend-owner

Improve handling of billing statistics in admin view
  attached_assets/Pasted-Something-went-wrong-We-encountered-an-unexpected-error-Please-try-refreshing-the-page-or-contact--1760983354401_1760983354401.txt
  client/src/pages/AdminPage.tsx
Owners: @cbadabili, @frontend-owner

Fix error that occurs when displaying billing statistics on admin page
  client/src/pages/AdminPage.tsx
Owners: @frontend-owner

Improve admin statistics to only show active plans and ensure correct revenue calculation
  server/billing-routes.ts
Owners: @backend-owner

Prevent unauthorized redirects during registration and login
  client/src/lib/api.ts
Owners: @frontend-owner

Adjust subscription button text for logged-in users
  client/src/pages/PricingPage.tsx
Owners: @frontend-owner

Add admin panel functionality for managing users and reviews
  server/routes/admin-routes.ts
  server/routes/index.ts
Owners: @backend-owner

Update admin routes to use renamed tables for reviews and audit logs
  server/routes/admin-routes.ts
Owners: @backend-owner

Temporarily disable admin review and audit log features
  attached_assets/Pasted-https-bc950d3b-1020-47a6-8025-fa9a7db7c4fb-00-nnq5i1x2e95y-riker-replit-dev-api-admin-audit-log-li-1760985095349_1760985095350.txt
  server/routes/admin-routes.ts
Owners: @cbadabili, @backend-owner

Fix error when fetching audit log data and resolve routing issues
  attached_assets/Pasted-https-bc950d3b-1020-47a6-8025-fa9a7db7c4fb-00-nnq5i1x2e95y-riker-replit-dev-api-admin-audit-log-li-1760985197799_1760985197800.txt
Owners: @cbadabili

Remove Google sign-in and sign-up functionality from the platform
  client/src/components/auth/RegistrationModal.tsx
  client/src/pages/LoginPage.tsx
  package-lock.json
  package.json
  replit.md
  server/routes/google-auth-routes.ts
  server/routes/index.ts
  server/utils/env.ts
Owners: @frontend-owner, @cbadabili, @platform-arch, @backend-owner

Fix various security and browser feature warnings
  attached_assets/Pasted--13-The-source-list-for-the-Content-Security-Policy-directive-default-src-contains-an-invalid-1762888530069_1762888530069.txt
Owners: @cbadabili

Update the user registration endpoint path
  server/routes/auth-routes.ts
Owners: @backend-owner

Improve registration flow and error handling for users
  attached_assets/Pasted-injected-js-27-Attempting-login-for-cbadabili-gmail-com-injected-js-27-Login-response-status-200-i-1762889150742_1762889150743.txt
  client/src/components/auth/RegistrationModal.tsx
Owners: @cbadabili, @frontend-owner

Update subscription logic to use the API client for authenticated requests
  attached_assets/Pasted-injected-js-27-Attempting-login-for-cbadabili-gmail-com-injected-js-27-Login-response-status-200-i-1762889385123_1762889385124.txt
  client/src/components/auth/RegistrationModal.tsx
Owners: @cbadabili, @frontend-owner

Add axios dependency to facilitate API requests
  attached_assets/Pasted--Testing-database-connection-Database-connection-successful-Browserslist-browsers-data-can-1762889621032_1762889621032.txt
  package-lock.json
  package.json
Owners: @cbadabili, @platform-arch

Use a house icon as the default user avatar when no picture is available
  client/src/components/domain/marketplace/ServiceProviderCard.tsx
  client/src/components/layout/Navbar.tsx
  client/src/components/reviews/ReviewCard.tsx
  client/src/components/ui/avatar.tsx
  client/src/pages/ProfilePage.tsx
  replit.md
Owners: @frontend-owner, @cbadabili

Replace house icon with building icon for default images and placeholders
  attached_assets/image_1762890868632.png
  client/src/components/domain/marketplace/ServiceProviderCard.tsx
  client/src/components/layout/Navbar.tsx
  client/src/components/properties/PropertyCard.tsx
  client/src/components/reviews/ReviewCard.tsx
  client/src/components/shared/PropertyCard.tsx
  client/src/components/ui/avatar.tsx
  client/src/pages/ProfilePage.tsx
  replit.md
Owners: @cbadabili, @frontend-owner

Organize buyer journey routes and add redirects for backward compatibility
  attached_assets/Pasted-Received-properties-12-injected-js-27-No-routes-matched-location-buyer-journey-searching-anony-1762892288028_1762892288029.txt
  client/src/App.tsx
  replit.md
Owners: @cbadabili, @frontend-owner

Add default icon for properties without images on schedule viewing page
  client/src/pages/ScheduleViewingPage.tsx
  replit.md
Owners: @frontend-owner, @cbadabili

Update user avatars to display initials instead of an icon
  client/src/components/domain/marketplace/ServiceProviderCard.tsx
  client/src/components/layout/Navbar.tsx
  client/src/components/reviews/ReviewCard.tsx
  client/src/components/ui/avatar.tsx
  client/src/pages/ProfilePage.tsx
  replit.md
Owners: @frontend-owner, @cbadabili

Assistant checkpoint: Fixed API endpoints for marketplace pages
  client/src/pages/marketplace/ArtisansPage.tsx
  client/src/pages/marketplace/ProfessionalsPage.tsx
  client/src/pages/marketplace/SuppliersPage.tsx
Owners: @frontend-owner

Redirect user to previous page after plan activation
  client/src/pages/PricingPage.tsx
Owners: @frontend-owner

Redirect users to their previous page after free plan activation
  client/src/components/auth/RegistrationModal.tsx
  client/src/pages/PricingPage.tsx
Owners: @frontend-owner

Improve redirection after plan activation to prevent security issues
  client/src/components/auth/RegistrationModal.tsx
  client/src/pages/PricingPage.tsx
Owners: @frontend-owner

Redirect users back to their previous location after plan activation
  replit.md
Owners: @cbadabili

Assistant checkpoint: Fixed navbar import and removed fallback data
  client/src/components/layout/Navbar.tsx
  client/src/pages/marketplace/ProfessionalsPage.tsx
  client/src/pages/marketplace/SuppliersPage.tsx
Owners: @frontend-owner

Assistant checkpoint: Optimize marketplace pages performance and typing
  client/src/pages/marketplace/ArtisansPage.tsx
  client/src/pages/marketplace/SuppliersPage.tsx
  client/src/pages/marketplace/TrainingProvidersPage.tsx
Owners: @frontend-owner

Assistant checkpoint: Changed search buttons to crimson red
  client/src/components/search/EnhancedSearchBar.tsx
  client/src/pages/RentPage.tsx
  client/src/pages/RenterDashboard.tsx
Owners: @frontend-owner

Assistant checkpoint: Updated home page search button to crimson red
  client/src/pages/HomePage.tsx
Owners: @frontend-owner

Restored to '4ce24509d54a05b470b890f297e94bf7ad6c6bf2'
  client/src/components/search/EnhancedSearchBar.tsx
  client/src/pages/HomePage.tsx
  client/src/pages/RentPage.tsx
  client/src/pages/RenterDashboard.tsx
Owners: @frontend-owner

Assistant checkpoint: Reverted search buttons to original blue color
  client/src/components/search/EnhancedSearchBar.tsx
  client/src/pages/RentPage.tsx
  client/src/pages/RenterDashboard.tsx
Owners: @frontend-owner
